
.navbar {
    width: 70%;
    margin: auto;
}
header {
    background: #343a40;
    margin-bottom: 10px;
}
.section-header {
    margin: .5em;
}
.avatar {
    text-align: center;
}
.jumbotron {
    background-color: rgb(247, 247, 247);
}

.card-title {
    margin-top: 150px;
    padding: 2px;
}
body {
    height: 100%;

}
footer {
    display: block;
    margin-top: auto;
}
html, .container {
    height: 100%;
}
a {
    
    text-decoration: none;
}
